<h1>Attendee List</h1>

<div class="attendee-list">
	<% @people.each do |p| %>
	<div><%= "#{@num+=1}. #{p['profile']['first_name'].capitalize} #{p['profile']['last_name'].capitalize} (#{p['profile']['email']})" %><button class="button" style="vertical-align:middle"><span> Verify</span></button></div>
	<% end %>
</div>




<%#=
{"pagination":
	{
	 "object_count": 1,
	 "page_number": 1,
	 "page_size": 50,
	 "page_count": 1,
	 "has_more_items": false
	},
	"attendees": 
	[
		{"team": null,
		 "costs": 
			{"base_price": 
				{"display": "$0.00",
			 		"currency": "USD",
			 		"value": 0,
			 		"major_value": "0.00"
				},
		 		"eventbrite_fee": 
		 		{"display": "$0.00",
		 		 "currency": "USD",
		 		 "value": 0,
		 		 "major_value": "0.00"
		 		},
		 		"gross": 
		 		{"display": "$0.00",
		 		 "currency": "USD",
		 		 "value": 0,
		 		 "major_value": "0.00"
		 		},
		 		"payment_fee": 
		 		{"display": "$0.00",
		 		 "currency": "USD",
		 		 "value": 0,
		 		 "major_value": "0.00"
		 		},
		 		"tax": 
		 		{"display": "$0.00",
		 		 "currency": "USD",
		 		 "value": 0,
		 		 "major_value": "0.00"
		 		}
		 	},
	  "resource_uri": "https://www.eventbriteapi.com/v3/events/39778577797/attendees/870239062/",
	  "id": "870239062",
	  "changed": "2017-11-10T18:19:58Z",
	  "created": "2017-11-10T18:19:58Z",
	  "quantity": 1,
	  "profile": 
	  	{"first_name": "raul",
	  		"last_name": "martinez",
	  		"email": "raulmartinez1855@gmail.com",
	  		"name": "raul martinez",
	  		"addresses": 
	  			{
	  				"home": {},
	  				"ship": {},
	  				"work": {},
	  				"bill": {}}
	  			},
	  		"barcodes": 
	  		[
	  		{"status": "unused",
	  		"barcode": "696589772870239062001",
	  "checkin_type": 0,
	  "created": "2017-11-10T18:19:58Z",
	  "changed": "2017-11-10T18:19:58Z"}],
	  "answers": [],
	  "checked_in": false,
	  "cancelled": false,
	  "refunded": false,
	  "affiliate": "estw",
	  "guestlist_id": null,
	  "invited_by": null,
	  "status": "Attending",
	  "ticket_class_name": "GA",
	  "event_id": "39778577797",
	  "order_id": "696589772",
	  "ticket_class_id": "75810470"

		}
	]
}

%>