<div class="contentarea">
	<h1 id="title">
		Refresh Miami Kairos Facial Recognition Sign up!
	</h1>
	<p>
    <div id="allput">
	   </p>
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>
	   <p>
    </div>
	</p>
</div>
