<div class="contentarea">
	<h1 id="title">
		Refresh Miami Kairos Facial Recognition Sign in!
	</h1>
	<div class="flash-message">
	  <% if flash[:notice] %>
	    <h2><%= flash[:notice] %></h2>
	  <% end %>
	</div>
	<p>
    <div id="allput">
	   </p>
      <div class="camera">
        <video id="video">Video stream not available.</video>
        <button id="startbutton">Take photo</button>
      </div>
      <canvas id="canvas">
      </canvas>
      <div class="output">
        <img id="photo" alt="The screen capture will appear in this box.">
      </div>
	   <p>
    </div>
	</p>
</div>
<%= form_with(url: post_photo_path, local: true) do |form| %>
<%= hidden_field_tag 'img', nil, id: 'img_field' %>

<div class="actions">
	<%= form.submit "Click to Check In" %>
</div>
<% end %>
