<h1>Welcome <%= @found_user.first_name %></h1>
<p>Find me in app/views/users/show.html.erb</p>

<script type="text/javascript">
function redirect(){
  window.location.href = 'verify_photo';
}
  setTimeout( redirect, 5000);
</script>
