<div class="container">
<h1>Welcome <%= @found_user.first_name %></h1>

<script type="text/javascript">
function redirect(){
  window.location.href = 'verify_photo';
}
  setTimeout( redirect, 5000);
</script>
</div>