// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.center-div{
	margin: auto;
}

h1{
	// border: 2px solid blue;
	// using border for testing purposes
	text-align: center;
	color:white;
	// font-family: inherit;
}


table, p {
	color: white;
}

.color-links{
	color: white;
}

.go-back-button{
	position: inherit;
}

div,strong{
	color: white;
}

